<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  	<ion-card-header>
	   Items
	  </ion-card-header>
		<ion-card-content *ngIf="cart.pedidos === null">
		  Seu carrinho está vazio
		</ion-card-content>
	  <ion-list no-lines>
		  <ion-item *ngFor="let ordermenu of cart.ordermenus; let i = index;">
		    <ion-avatar item-left>
		      <img src="{{ordermenu.menu.img_url}}">
				</ion-avatar>
				
				<h2>{{ordermenu.menu.name}} </h2>
				<br />ffdfsd
		    <div>
		      <p><span st>{{ordermenu.menu.price }} - <b>x {{ordermenu.quantity}}</b></span> </p>
		    </div>
		    <div>
			      <button primary large>
			        <ion-icon name="add" (click)="increaseQuantity(i)"></ion-icon>
			      </button>
			      <button primary large>
			        <ion-icon name="remove" (click)="decreaseQuantity(i)"></ion-icon>
			      </button>
		    </div>
	    </ion-item>
	  </ion-list>
	  <ion-card-content *ngIf="cart.ordermenus != null">
		  <div>Valor total  {{cart.valor_total}}</div>
			<br />
			<!--
			<div>Taxa de entrega {{ cart.taxa_entrega | currency:'BRL':true }}</div>
			-->
		  
	  </ion-card-content>	 	
	</ion-card>
	<ion-card>
      <form #form="ngForm" (ngSubmit)="checkout()" id="cadastro-form1">
          <ion-item id="pedido-input1">
            <ion-label>
              Observação:
            </ion-label>
            <ion-input type="text" [(ngModel)]="cart.observacao" name="observacao" hint="observação" required> </ion-input>
					</ion-item>
					<ion-item id="pedido-input1">
							<ion-label>
								Endereço:
							</ion-label>
							<ion-input type="text" [(ngModel)]="cart.observacao" name="observacao" hint="observação" required> </ion-input>
						</ion-item>
      </form>
	  <ion-card-content>
				<ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Finalizar pedido</ion-button>	
	  <!--
			<ion-button   
		  (click)="checkout()"
		  [disabled]="cart.pedidos === null">Finalizar pedido</button>
		--> 
		</ion-card-content> 
	</ion-card>    
</ion-content>
